main {
  display: inline-block;
  width: 72%;
}
aside{
  display: inline-block;
  width: 20%;
  margin: 10px;
  border: 10px red solid;
  height: 700px;
  vertical-align: top;
}
h2, h4, li, p{
  margin-left: 30px;
}
